<!DOCTYPE html>
<html>
  <head>
    <title>Kame</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">  <!-- head内にこのタグ設定を追記する -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
            <span class="sr-only">Facebook</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/feeds">Facebook</a>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

            <li><a href="/reis" class="btn login">top</a></li>
            <li><a href="/contacts" class="btn signup">top2</a></li>
            <li><a href="/users" class="btn login">top3</a></li>

          </ul>
        </div>
      </div>
    </nav>


    <script src="script.js"></script>


    <%= yield %>

    <footer>

    </footer>
  </body>
</html>
